{% extends 'base.html.twig' %}

{% block title %}Gestionnaire{% endblock %}

{% block body %}
<div class="container">

<div class="row mt-4">
<h1>Bienvenue sur le gestionnaire de contact</h1>
</div>
<small class="text-muted">Vous pourrez d'ici gérer un simple carnet d'adresse.</small>

<div class="container mt-5">
<div class="row">

    <div class="card border-success mx-2" style="width : 30em">
    <div class="card-header">Dernier ajout</div>
    <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text"></p>
    </div>
    </div>

    <div class="card border-success mx-2" style="width : 30em">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Secondary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>

</div>

</div>


</div>
{% endblock %}
