{% extends 'base.html.twig' %}

{% block title %}Gestionnaire{% endblock %}

{% block body %}
<div class="container">

<div class="row mt-4">
<h1>Bienvenue sur le gestionnaire de contact</h1>
</div>
<small class="text-muted">Vous pourrez d'ici gérer un simple carnet d'adresse.</small>

<div class="container mt-5">
<div class="row">

    <div class="card border-success mx-2" style="width : 30em">
    <div class="card-header">liste des contacts</div>
    <div class="card-body">

            <ul>
            {% for person in persons %}
                <li>
                    <a href="{{ path('person_read', {id: person.id}) }}">{{ person.name }}</a>
                </li>
            {% endfor %}    
            </ul>

    </div>
    </div>

    <div class="card border-success mx-2" style="width : 30em">
    <div class="card-header">Liste des tags</div>
    <div class="card-body">

            <ul>
            {% for tag in tags %}
                <li>
                    <a href="{{ path('tag_read', {id: tag.id}) }}">{{ tag.name }}</a>
                </li>
            {% endfor %}
            </ul>

    </div>
    </div>

</div>

</div>


</div>
{% endblock %}
