{% extends 'base.html.twig' %}

{% block title %}liste des tags{% endblock %}

{% block body %}
	<div class="container">

		<div class="row">
			<h1>Liste des tags</h1>
		</div>

		{% include "partials/flash.html.twig"  %}

		<div class="container mt-2">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">Nom de l'étiquette</th>
					    <th scope="col">Nombre de contact </th>
					</tr>
				</thead>
				<tbody>

					{% for tag in tags %}
						<tr>
							<td scope="row">
								<form action="{{ path('tag_delete', {id: tag.id}) }}" method="post" class="d-inline">
									<input type="hidden" name="_method" value="DELETE">
									<button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
								</form>
								<a href="{{ path('tag_read', {id: tag.id}) }}" class="btn btn-outline-danger btn-sm">Read</a>
							</td>
							<td scope="col">{{ tag.name }}</td>
							<td scope="col"><span class="badge badge-info">{{ tag.howManyPeople }}</span><td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>


	</div>
{% endblock %}
